{% extends 'base.html' %}
{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>User Name</th>
        <th>Create At</th>
        <th>Edit</th>
          <th>Delete</th>
          <th>
            <a href="{% url 'login' %}">
            <i class="fas fa-plus"></i>
            </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in userData %}
      <tr>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.mail}}</td>
        <td>{{i.user_name}}</td>
        <td>{{i.create_at}}</td>
        <td class="text-secondary"><a href="{% url 'edit' i.id %}"><i class="fas fa-edit"></i></a></td>
        <td class="text-danger">
          <form action="{% url 'delete' i.id %}" method='POST'>{% csrf_token %}
            <button type="submit" class="btn">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
          </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
{% endblock content %}